<div class="top-left">
  {{ content.top_left }}
</div>
<div class="top-right">
  {{ content.top_right }}
</div>
<div class="bottom-left">
  {{ content.bottom_left }}
</div>
<div class="bottom-right">
  {{ content.bottom_right }}
</div>